@model IEnumerable<BookMyshow.Models.RemoveMoviesList_Result>


<html>
<head>
    <style>
        #div1 {
            background-image: url(../../Content/Images/download.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            width: 100%;
            padding: 30px;
            font-size:20px;
            font-weight:bold;
        
            border-radius: 22px;
        }
        table.table a {
            color: white;
        }


    </style>

</head>
<body>


    <div id="div1">
        <table class="table table-striped table-condensed text-white table-bordered table-hover ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td style="color:white">
                        @Ajax.ActionLink("Delete", "RemoveMovie", new { id = item.MovieId, tid = item.TheatreId, sid = item.SlotId, d = item.Date }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div1" })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
