

<html lang="en">
<head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <title>Registred User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/mdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="~/Content/css/simple-sidebar.css" />
    <title>UiBrains</title>
    <link rel="icon" href="../img/favicon.ico">
    <style>


        .search {
            display: inline-block;
            margin-left: 8px;
            /* btn {
            max-height: 18px;
            max-width: 18px;
            margin-left: 2px;
            background: $topBarControlBackground;
            color: $topBarColor;
            line-height: 50%;
            font-size: 80%;
        } */
        }
    </style>
</head>
<body id="Asidebody">
    <!-- ############################### START HERE ################################ -->
    <!-- Main Navigation -->
    <nav class="navbar navbar-dark stylish-color-dark navbar-expand-sm ">
        <div class="container">
            <table>
                <tr id="nav-tr">
                    <a href="/Theatre/Index" class="navbar-brand " style="margin-left: -20px;margin-top: -10px;margin-bottom: -10px">
                        <img src="~/Content/Images/bb82ec2bbdc6893100ceaa08bc3fb61f.png" width="100" height="100">
                        Movies Ticket
                    </a>
                    @*
                        <form class="form-inline ml-auto">
                            <div class="form-group">
                                <input type="text" placeholder="Search..." class="form-control" style="width: 400px">
                            </div>
                            <div class="search">
                                <a href="#" class="btn btn-outline-light btn-sm ">Search</a>
                            </div>
                        </form>*@
                    <button class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </tr>
        </div>
        <tr id="nav-tr">
            <div class="collapse navbar-collapse " id="uiNavBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-2">
                        <a href="/Theatre/Index" class="nav-link">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i> Welcome @Session["userName"]
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

                            @Ajax.ActionLink("Update Password", "UpdatePassword", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div", InsertionMode = InsertionMode.Replace })
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/UserHome/Logout">Logout</a>
                        </div>
                    </li>

                    <li class="nav-item px-2">
                        <a href="services.html" class="nav-link" data-toggle="modal" data-target="#login-modal" onclick="openNav()">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </tr>
        </table>

    </nav>

    <!-- Side nav -->

    <div id="mySidenav" class="sidenav stylish-color-dark border-right">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        @if (ViewBag.count == 0)
        {
        @Ajax.ActionLink("Register Theatre", "TheatreRegister", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div", InsertionMode = InsertionMode.Replace })
        @Ajax.ActionLink("Select layout", "SelectLayout", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div", InsertionMode = InsertionMode.Replace })
        }
        else
        {

        @Ajax.ActionLink("Add Movie", "AddMovie", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div", InsertionMode = InsertionMode.Replace })
        @Ajax.ActionLink("Remove Movie", "RemoveMovie", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "div", InsertionMode = InsertionMode.Replace })
        }
    </div>
    <!-- Side nav -->
    <!--MAIN CONTENTS-->
    <div class="p-4" id="div">
        <!--Cards-->
        <!-- CARD DECK -->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card text-center">
                            <div class="card-header bg-light-blue text-white ">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <i class="fa fa-cart-arrow-down fa-4x"></i>
                                    </div>
                                    <div class="col">
                                        <h5 class="display-3">@ViewBag.collection</h5>
                                        <h4>Total Collection</h4>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>

          
                </div>
            </div>
        </div>
        <!--Cards-->
    </div>
    <!--MAIN CONTENTS-->
    <!-- Footer -->
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4 pb-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SUPPORT</h5>
                    <p>
                        For more support contact with us! We are available 24 * 7 on 12345-0123456789<br />
                        Drop a mail on <span style="color:salmon">M.ticket@moviesticket.com</span>
                    </p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Check Ratings</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.imdb.com/">IDBM</a>
                        </li>
                        <li>
                            <a href="https://www.flixster.com/">Flixster</a>
                        </li>
                        <li>
                            <a href="https://www.mrqe.com/">MRQE</a>
                        </li>
                        <li>
                            <a href="https://www.yahoo.com/entertainment/movies/">Yahoo</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Get Movies</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://megabox-hd.en.uptodown.com/android">Megabox</a>
                        </li>
                        <li>
                            <a href="https://www.hotstar.com/">Hotstar</a>
                        </li>
                        <li>
                            <a href="https://www.sonycrackle.com/">Sony Crackle</a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/">Vimeo</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Upcoming Movies</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.boxofficemojo.com/">Box Office Mojo</a>
                        </li>
                        <li>
                            <a href="https://www.rottentomatoes.com/">Rotten Tomatoes</a>
                        </li>
                        <li>
                            <a href="https://www.comingsoon.net/">Coming Soon</a>
                        </li>
                        <li>
                            <a href="whenitdrops.com/">When It Drops</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <!-- Footer -->
        <!-- ############################### END HERE ################################ -->
        <!-- side nav -->
        <!-- aside bar -->
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("Asidebody").style.marginLeft = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("Asidebody").style.marginLeft = "0";
            }
        </script>
        <!-- aside bar -->

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- BODY ENDS -->
<script src="~/Content/bootstrap/js/fontawesome-all.js"></script>
<script src="~/Content/bootstrap/js/jquery-3.2.1.min.js"></script>
<script src="~/Content/bootstrap/js/popper.min.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/bootstrap/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });</script>
</html>


