@model IEnumerable<BookMyshow.Models.TheatreTimiSlots>

<html>

<head>
    <link rel="stylesheet" href="~/Content/bootstrap/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/mdb.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>BookMovie</title>
    <script>
                                        //$(document).ready(function () {
                                        //    alert("in script");
                                        //    $("#submitId").click(function () {
                                        //        alert("clicked");
                                        //        document.getElementsByName("demoform").submit();
                                        //    })
                                        //})
    </script>
</head>
<body>
    <div>
        <h3>Available Theatres</h3>
        @foreach (var item in Model)
        {
            //using(Html.BeginForm("TimingsByTheatre", "UserHome",FormMethod.Get,new { name= "demoform" }))
            //{

            <p>@item.TheatreId</p>

            int a = item.TheatreId;

            foreach (var item1 in item.Slots)
            {
            <form action="~/UserHome/TimingsByTheatre" method="post">
                <input type="text" value="@item.TheatreId" hidden name="theatreId" />
                <input type="text" value="@item1" name="slotId" hidden />
                <input type="text" value="@ViewBag.movieId" hidden name="movieId" />
                <input type="submit" value="@item1" id="submitId" name="ip" class="btn btn-outline-success" />
            </form>
                  }
               
            }

        }

    </div>
    <script src="~/Content/bootstrap/js/fontawesome-all.js"></script>
    <script src="~/Content/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/bootstrap/js/mdb.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
