@model BookMyshow.Models.Movy


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/fontawesome-all.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap/css/mdb.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="~/Content/Script.css">


    <title>UiBrains</title>
    <link rel="icon" href="../img/favicon.ico">

    <!-- CAROSAL Bottom Header -->

    <link rel="stylesheet" href="~/Content/CarosalJquery/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/CarosalJquery/owl.theme.default.min.css" />
    <script>

        // alert("helloo");
        // document.getElementsByName("AjaxForm").submit();




    </script>




    <style>
        .search {
            display: inline-block;
            margin-left: 5px;
        }

        body {
            margin: 0;
            font-size: 100%;
            background: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            background-color: dimgray;
        }

        #Like, #book {
            background-color: forestgreen;
            padding: 5px;
            margin-top: 10px;
            width: 250px;
        }

        table tr td {
            padding: 5px;
        }

        #trailerbtn {
            margin-left: -254px;
            margin-top: 72%;
            color: white;
            background-color: transparent;
            position: absolute;
            padding: 5px;
            border: none;
            width: 250px;
        }
        /* btn {
            max-height: 18px;
            max-width: 18px;
            margin-left: 2px;
            background: $topBarControlBackground;
            color: $topBarColor;
            line-height: 50%;
            font-size: 80%;
        } */

        /*.wrapper {
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-bottom:20px;
        }

        .item {
            width: 200px;
            height: 250px;
            padding: 20px;
            margin: 20px;
        }

        .carosal-img {
            height: 250px;
            overflow: hidden;
            position: relative;
        }*/
    </style>

    <script src="~/Content/CarosalJquery/jquery-3.2.1.min.js"></script>
    <script>

            $('#modal1').on('hidden.bs.modal', function (e) {
                // do something...
                $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
            });

            $('#modal6').on('hidden.bs.modal', function (e) {
                // do something...
                $('#modal6 iframe').attr("src", $("#modal6 iframe").attr("src"));
            });

            $('#modal4').on('hidden.bs.modal', function (e) {
                // do something...
                $('#modal4 iframe').attr("src", $("#modal4 iframe").attr("src"));
            });



       $(document).ready(function () {
            $("#Like").on("click", function () {
                //alert("alert");
                var likes = @Model.IntrestedUsers +1;
               // likes = likes + 1;
                document.getElementById("Like").innerText = "Likes: " + likes;

               $(this).val();




           $(function () {
               $.post('/MoviesTicket/LikeDemo',
                   { key: @Model.MovieId, value: likes }, function (data) {
                       //alert("Success" + data.success);
                   });
                });
            })
       })

    </script>

</head>

<body class="text-white">

    <!-- Main Navigation -->
    <nav class="navbar navbar-dark stylish-color-dark  navbar-expand-sm ">
        <div class="container">

            <table>
                <tr id="nav-tr">
                    <a href="/UserHome/Index" class="navbar-brand " style="margin-left: -80px;margin-top: -10px;margin-bottom: -10px">
                        <img src="~/Content/Images/bb82ec2bbdc6893100ceaa08bc3fb61f.png" width="100" height="100">
                        <span style="color:red" class="font-weight-bold text-uppercase mt-3 mb-4"> Movies </span><span class="font-weight-bold text-uppercase mt-3 mb-4">Ticket</span>
                    </a>

          

                    <button class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </tr>
        </div>
        <tr id="nav-tr">

            <div class="collapse navbar-collapse " id="uiNavBar">
                <ul class="navbar-nav ml-auto">
                    @using (Html.BeginForm("Search", "UserHome", FormMethod.Post, new { name = "DemoForm" }))
                    {

                        <div class="form-group">

                            <input type="text" placeholder="SearchByMovie..." class="form-control" id="searchinput" name="searchInput" style="width: 200px;color:white;margin-top:-10px;">

                        </div>
                        <div class="search">

                            @*<input type="submit" value="search" id="search" class="btn btn-outline-light btn-sm"  />*@
                            <button type="submit" id="search" class="btn btn-outline-light btn-sm" onclick="Demo()">Search</button>
                            @*<a href="#" class="btn btn-outline-light btn-sm ">Search</a>*@
                        </div>
                    }
                    @*</form>*@
                    <li class="nav-item px-2">
                        <a href="/UserHome/Index" class="nav-link">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>
                    @if (Session["userId"] != null)
                    {


                    }
                    else
                    {
                        <li class="nav-item px-2">
                            <a href="services.html" class="nav-link" data-toggle="modal" data-target="#login-modal">
                                <i class="fa fa-user"></i> Register
                            </a>
                        </li>

                        <li class="nav-item px-2">
                            <a href="services.html" class="nav-link" data-toggle="modal" data-target="#login-modal">
                                <i class="fa fa-user"></i> Login
                            </a>
                        </li>

                    }



                    <li class="nav-item px-2">
                        <a href="contact.html" class="nav-link">
                            <i class="fa fa-film"></i> Movies
                        </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="contact.html" class="nav-link">
                            <i class="fa fa-play"></i> Plays
                        </a>
                    </li>
                </ul>
            </div>
        </tr>
        </table>

    </nav>

    <div>


        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-4">

                <!--Modal: Name-->
                <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">

                        <!--Content-->
                        <div class="modal-content">

                            <!--Body-->
                            <div class="modal-body mb-0 p-0">

                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="@Model.VideoLink" allowfullscreen></iframe>
                                </div>

                            </div>

                            <!--Footer-->
                            <div class="modal-footer justify-content-center">
                                <span class="mr-4">Spread the word!</span>
                                <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                                <!--Twitter-->
                                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                                <!--Google +-->
                                <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                                <!--Linkedin-->
                                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

                                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                            </div>

                        </div>
                        <!--/.Content-->

                    </div>
                </div>
                <!--Modal: Name-->


            </div>
            <!-- Grid column -->


        </div>




        <div class="p-2 row m-2 ">


            <div class="col-md-4 ">

                <img alt="image here" src="@ViewBag.FirstMovie" style="height:350px; max-width: 250px; " />

                <a>

                    <button id="trailerbtn" data-toggle="modal" data-target="#modal1"><i class="fa fa-film" aria-hidden="true"></i>Watch Trailer</button>
                </a>
                <br />
                @*<span id="Like">Intrested</span>*@
                <button id="Like">Interested @Model.IntrestedUsers</button>
                <button id="book">

                    @Html.ActionLink("BookNow", "BookMovie", new { id = Model.MovieId })
                </button>

            </div>
            <div class="col-md-4 " style="align-items:center">
                <h4>Movie Title:@Model.MovieName</h4>
                <h3>Synopsis</h3>
                <h4>@Model.Synopsis</h4>
                <h3>Release Date</h3>
                <h4>@Model.ReleaseDate</h4>
            </div>
            <div class="col-md-4" style="display:inline">

                <table id="table">
                    <tr>
                        <td>
                            <p>Cast</p>
                            @foreach (var item in ViewBag.Castphotos)
                            {
                                <img src="@item" width="140" height="190" id="castimage" />
                            }




                        </td>
                        @*<td>
                            <img src="~/Content/Imagescarosal/aquaman-movie-poster-2018-l0.jpg" width="140" height="190" />
                            <p>IMage1</p>
                        </td>*@
                    </tr>
                    @*<tr>
                        <td><img src="~/Content/Imagescarosal/Hollywood-Animation-Movie-Kung-Fu-Panda-3-Poster.jpg" width="140" height="190" /> <p>IMage1</p></td>

                        <td> <img src="~/Content/Imagescarosal/rango.jpg" width="140" height="190"  /> <p>IMage1</p></td>
                    </tr>*@
                </table>










            </div>


        </div>




        <!-- Footer -->
        <footer class="page-footer font-small stylish-color-dark pt-4 pb-4">

            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 mx-auto">

                        <!-- Content -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SUPPORT</h5>
                        <p>
                            For more support contact with us! We are available 24 * 7 on 12345-0123456789<br />
                            Drop a mail on <span style="color:salmon">M.ticket@moviesticket.com</span>
                        </p>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Check Ratings</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.imdb.com/">IDBM</a>
                            </li>
                            <li>
                                <a href="https://www.flixster.com/">Flixster</a>
                            </li>
                            <li>
                                <a href="https://www.mrqe.com/">MRQE</a>
                            </li>
                            <li>
                                <a href="https://www.yahoo.com/entertainment/movies/">Yahoo</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Get Movies</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="https://megabox-hd.en.uptodown.com/android">Megabox</a>
                            </li>
                            <li>
                                <a href="https://www.hotstar.com/">Hotstar</a>
                            </li>
                            <li>
                                <a href="https://www.sonycrackle.com/">Sony Crackle</a>
                            </li>
                            <li>
                                <a href="https://vimeo.com/">Vimeo</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none">

                    <!-- Grid column -->
                    <div class="col-md-2 mx-auto">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Upcoming_Movies</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.boxofficemojo.com/">Box Office Mojo</a>
                            </li>
                            <li>
                                <a href="https://www.rottentomatoes.com/">Rotten Tomatoes</a>
                            </li>
                            <li>
                                <a href="https://www.comingsoon.net/">Coming Soon</a>
                            </li>
                            <li>
                                <a href="whenitdrops.com/">When It Drops</a>
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <hr>

            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1">Register for free</h5>
                </li>
                <li class="list-inline-item">
                    <a href="#!" class="btn btn-danger btn-rounded" data-toggle="modal" data-target="#login-modal">Sign up!</a>
                </li>
            </ul>
            <!-- Call to action -->

            <hr>

            <!-- Social buttons -->
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                    <a class="btn-floating btn-fb mx-1">
                        <i class="fab fa-facebook-f"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-tw mx-1">
                        <i class="fab fa-twitter"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-google-plus-g"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-li mx-1">
                        <i class="fab fa-linkedin-in"> </i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-dribbble mx-1">
                        <i class="fab fa-dribbble"> </i>
                    </a>
                </li>
            </ul>
            <!-- Social buttons -->
            <!-- Copyright -->






            <div class="container-fluid">
                <div class="row align-items-center">



                    <div class="col-md-4" style="margin-left: 105px">
                        <h4>Copyright &copy; 2019</h4>
                        <span style="color:red" class="font-weight-bold text-uppercase mt-3 mb-4"> Movies </span><span class="font-weight-bold text-uppercase mt-3 mb-4">Ticket</span>

                        <p>
                            Developed & Maintained by
                            <a class="text-warning" href="https://github.com/thenaveensaggam" target="_blank">
                                <i class="fa fa-user-circle"></i> Shubham ,Pradeep,Neha
                            </a>
                        </p>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="btn bg-stylish-color-dark btn-block" data-toggle="modal" data-target="#contact-modal">Contact</a>
                    </div>
                    <div class="col-md-1">
                        <a href="#" class="btn btn-stylish-color-dark top-icon">
                            <i class="fa fa-arrow-alt-circle-up fa-2x "></i>
                        </a>
                    </div>
                </div>
            </div>


            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        <!-- Footer -->
        <script src="~/Content/bootstrap/js/fontawesome-all.js"></script>
        <script src="~/Content/bootstrap/js/jquery-3.2.1.min.js"></script>
        <script src="~/Content/bootstrap/js/popper.min.js"></script>
        <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
</body>


