@model BookMyshow.Models.Movy
<html>
<head>


    @*<script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    <style>

        body {
            background-color: #ecdddd;
        }

        input[type=text], input[type=url], input[type=date] {
            border: 1px solid white;
            border-radius: 5px;
            font-size: 20px;
            width: 450px;
            background-color: white;
        }

            input[type=text]:focus {
                color: white;
            }

        label {
            font-size: 20px;
            font-weight: bold;
        }

        option {
            font-size: 7%;
            min-height: 2em;
        }

        #msg {
            background-image: url(../../Content/Images/download.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            padding: 10px;
            border-radius: 20px;
            width: 600px;
            margin-left: 25%;
        }

        td {
            padding: 30px;
        }

        #coupon {
            background-color: white;
            color: black;
        }

        span {
            color: white;
            font-size: 20px;
        }

        .form-horizontal {
            padding: 10PX;
        }
    </style>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
          //  alert("in jq");
            $("#rdate").datepicker({ minDate: 0 });
        });
    </script>
</head>
<body>
    <h2 class="font-weight-bold" style="margin-left:25%">Add Movie</h2>

    <div id="msg">

        @using (Ajax.BeginForm("AddMovie", "AdminHome", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "msg" }, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.MovieName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MovieName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.MovieName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Synopsis, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Synopsis, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Synopsis, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "date", @Type = "Date",  @min =DateTime.Now.AddDays(1) } })*@
                        <input type="date" name="Releasedate" width="400px" min="@DateTime.Now.AddDays(1)"  required/>
                        @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Poster, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="poster1" accept="image/*" id="poster1" required/>
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.IntrestedUsers, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.IntrestedUsers, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IntrestedUsers, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <label>Video Trailer Link</label>
                    <div class="col-md-10">
                        <input type="url" name="trailerlink" placeholder="https://example.com"
                               pattern="https://.*" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" style="width:200px" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</body>

</html>
