@model IEnumerable<BookMyshow.Models.Offer>

<div id="result">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfferName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteOffer", new { id = item.OfferId }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result", InsertionMode = InsertionMode.Replace })
                </td>
            </tr>
        }

    </table>
</div>